
<h1 class="main-title"> Stupid Coaching </h1>
<div class= "submit-box">
  <form action="/answer" data-turbo="false">
    <input type="text" name="question" placeholder="Ask a question">
    <input type="submit" value="Ask!">
  </form>
</div>
