/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
  text-align: left;
  padding-top: 40px;
  background-color: antiquewhite;
  padding-left: 20px;
  border-left: 10px;
  border-color: black;
  border-width: 10px;
 }

 .signature {
  font-style: italic;
 }


 .main-title {
  padding-top: 100px;
 }
 .question-input {
  width: 400px;
  height: 45px;
  border-radius: 5px;
 }

 .submit{
  width: 100px;
  height: 45px;
  border-radius: 5px;
 }

 .link{
  font-style: italic;
 }

 .answer-div{
  background-color: bisque;
 }

 div{
  padding-left: 20px;
  border-radius: 0px;
  border-left: 5px;

 }
